html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}
body {
    background-color: #f5efe6;
    color: #4a4a4a;
    margin: 0;
    padding: 0;
}

.card {
    background-color: #faf3e0;
    color: #4a4a4a;
    transition: transform 0.2s;
    height: auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

    .card:hover {
        transform: scale(1.05);
    }

    .card img {
        object-fit: cover;
        height: 300px;
        width: 100%;
        border-radius: 10px;
    }

.card-body {
    text-align: center;
    width: 100%;
}

header {
    background-color: #f0e5d8;
    color: #4a4a4a;
}

.container-fluid {
    max-width: 100%;
    padding: 0 10px;
}
.navbar {
    background-color: #D9C4A1; /* Колір темного крему */
}

/* Зробити текст жирнішим і змінити його колір на темно-сірий */
.navbar-nav .nav-link {
    font-weight: bold; /* Текст жирним */
    font-size: 1.1rem; /* Збільшити розмір шрифту */
    color: #4E4A47; /* Темно-сірий колір */
}

    /* Зміна кольору при ховері */
    .navbar-nav .nav-link:hover {
        color: #2C2A28; /* Темніший колір на ховер */
    }

/* Стиль для назви в navbar */
.navbar-brand {
    font-weight: bold; /* Текст жирним */
    font-size: 1.2rem; /* Збільшити розмір шрифту */
    color: #4E4A47; /* Темно-сірий колір, такий самий як у навбарі */
}

    /* Зміна кольору при ховері для назви */
    .navbar-brand:hover {
        color: #2C2A28; /* Темніший колір при наведенні */
    }
